qatimeStudent/qatimeStudent/Debug/
qatimeStudent/qatimeStudent/GeneratedFiles/
qatimeStudent/qatimeStudent/Release/
QtUpdate/QtUpdate/Bin/Debug - 副本/
QtUpdate/QtUpdate/Debug/QtUpdate.tlog/
QtUpdate/QtUpdate/GeneratedFiles/
QtUpdate/QtUpdate/Release/QtUpdate.tlog/
QtUpdate/QtUpdate/Debug/
qatimeStudent/qatimeStudent/Bin/Debug/html/
*.rar
qatimeStudent/qatimeStudent.sdf
qatimeStudent/qatimeStudent.opensdf
qatimeStudent/qatimeStudent/Bin/Debug/qatimeStudent.exe
qatimeStudent/qatimeStudent/Bin/Debug/qatimeStudent.ilk
qatimeStudent/qatimeStudent/Bin/Debug/qatimeStudent.pdb
qatimeStudent/qatimeStudent/qatimeStudent.vcxproj.user
qatimeStudent/qatimeStudent.v12.suo
